// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	fmt "fmt"
	levelfour "github.com/LevelFourAI/levelfour-go"
	core "github.com/LevelFourAI/levelfour-go/core"
	internal "github.com/LevelFourAI/levelfour-go/internal"
	option "github.com/LevelFourAI/levelfour-go/option"
	audit "github.com/LevelFourAI/levelfour-go/recommendations/audit"
	http "net/http"
	strconv "strconv"
)

type Client struct {
	WithRawResponse *RawClient
	Audit           *audit.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		Audit:           audit.NewClient(options),
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Returns provider-level aggregation for the carousel view (AWS, GCP, Azure, K8s)
func (c *Client) GetSavingsByProvider(
	ctx context.Context,
	opts ...option.RequestOption,
) (*levelfour.ProvidersSummaryResponse, error) {
	response, err := c.WithRawResponse.GetSavingsByProvider(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns potential savings summary grouped by provider
func (c *Client) GetPotentialSavings(
	ctx context.Context,
	opts ...option.RequestOption,
) (*levelfour.ProvidersSummaryResponse, error) {
	response, err := c.WithRawResponse.GetPotentialSavings(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns paginated list of all recommendations with actions
func (c *Client) List(
	ctx context.Context,
	request *levelfour.ListRecommendationsRequest,
	opts ...option.RequestOption,
) (*core.Page[*int, *levelfour.RecommendationItem, *levelfour.RecommendationsBreakdownResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := baseURL + "/api/v1/recommendations"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*int]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("page", fmt.Sprintf("%v", *pageRequest.Cursor))
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(levelfour.ErrorCodes),
		}
	}
	next := 1
	if queryParams.Has("page") {
		var err error
		if next, err = strconv.Atoi(queryParams.Get("page")); err != nil {
			return nil, err
		}
	}

	readPageResponse := func(response *levelfour.RecommendationsBreakdownResponse) *core.PageResponse[*int, *levelfour.RecommendationItem, *levelfour.RecommendationsBreakdownResponse] {
		next += 1
		results := response.GetData().GetItems()
		return &core.PageResponse[*int, *levelfour.RecommendationItem, *levelfour.RecommendationsBreakdownResponse]{
			Results:  results,
			Response: response,
			Next:     &next,
		}
	}
	pager := internal.NewOffsetPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, &next)
}

// Returns recommendations overview metrics across all providers (for dashboard)
func (c *Client) GetOverview(
	ctx context.Context,
	opts ...option.RequestOption,
) (*levelfour.RecommendationsOverviewResponse, error) {
	response, err := c.WithRawResponse.GetOverview(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns all recommendations currently in processing status
func (c *Client) ListInProgress(
	ctx context.Context,
	opts ...option.RequestOption,
) (*levelfour.ProcessingRecommendationsResponse, error) {
	response, err := c.WithRawResponse.ListInProgress(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns complete details for a specific recommendation
func (c *Client) Get(
	ctx context.Context,
	recommendationID string,
	opts ...option.RequestOption,
) (*levelfour.RecommendationDetailResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		recommendationID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Backfill reason/explanation on an already-rejected recommendation
func (c *Client) AddRejectionFeedback(
	ctx context.Context,
	recommendationID string,
	request *levelfour.RejectionFeedbackRequest,
	opts ...option.RequestOption,
) (*levelfour.RejectionFeedbackResponse, error) {
	response, err := c.WithRawResponse.AddRejectionFeedback(
		ctx,
		recommendationID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Return ordered audit events (views + decisions) for one recommendation
func (c *Client) GetRecommendationActivity(
	ctx context.Context,
	recommendationID string,
	opts ...option.RequestOption,
) (*levelfour.RecommendationActivityResponse, error) {
	response, err := c.WithRawResponse.GetRecommendationActivity(
		ctx,
		recommendationID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns top 7 recommendations for a specific cloud provider
func (c *Client) GetTop(
	ctx context.Context,
	providerID string,
	opts ...option.RequestOption,
) (*levelfour.ProviderRecommendationsSummaryResponse, error) {
	response, err := c.WithRawResponse.GetTop(
		ctx,
		providerID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns paginated breakdown of recommendations for a specific provider
func (c *Client) ListByProvider(
	ctx context.Context,
	providerID string,
	request *levelfour.ListByProviderRecommendationsRequest,
	opts ...option.RequestOption,
) (*core.Page[*int, *levelfour.ProviderBreakdownItem, *levelfour.ProviderBreakdownResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/v1/providers/%v/recommendations",
		providerID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*int]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("page", fmt.Sprintf("%v", *pageRequest.Cursor))
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(levelfour.ErrorCodes),
		}
	}
	next := 1
	if queryParams.Has("page") {
		var err error
		if next, err = strconv.Atoi(queryParams.Get("page")); err != nil {
			return nil, err
		}
	}

	readPageResponse := func(response *levelfour.ProviderBreakdownResponse) *core.PageResponse[*int, *levelfour.ProviderBreakdownItem, *levelfour.ProviderBreakdownResponse] {
		next += 1
		results := response.GetData().GetItems()
		return &core.PageResponse[*int, *levelfour.ProviderBreakdownItem, *levelfour.ProviderBreakdownResponse]{
			Results:  results,
			Response: response,
			Next:     &next,
		}
	}
	pager := internal.NewOffsetPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, &next)
}

// Returns overview metrics (total spend, available/pending savings, saved ITD) for a provider
func (c *Client) GetProviderOverview(
	ctx context.Context,
	providerID string,
	opts ...option.RequestOption,
) (*levelfour.RecommendationsOverviewResponse, error) {
	response, err := c.WithRawResponse.GetProviderOverview(
		ctx,
		providerID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns distinct environments, accounts, and tags for recommendation filtering
func (c *Client) GetProviderFilters(
	ctx context.Context,
	providerID string,
	opts ...option.RequestOption,
) (*levelfour.RecommendationFilterOptionsResponse, error) {
	response, err := c.WithRawResponse.GetProviderFilters(
		ctx,
		providerID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns potential savings summary for a specific provider
func (c *Client) GetProviderPotentialSavingsSummary(
	ctx context.Context,
	providerID string,
	opts ...option.RequestOption,
) (*levelfour.ProviderPotentialSavingsSummaryResponse, error) {
	response, err := c.WithRawResponse.GetProviderPotentialSavingsSummary(
		ctx,
		providerID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns paginated potential savings breakdown for a specific provider
func (c *Client) ListProviderPotentialSavings(
	ctx context.Context,
	providerID string,
	request *levelfour.ListProviderPotentialSavingsRecommendationsRequest,
	opts ...option.RequestOption,
) (*core.Page[*int, *levelfour.ProviderBreakdownItem, *levelfour.ProviderBreakdownResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/v1/providers/%v/potential-savings/breakdown",
		providerID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*int]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("page", fmt.Sprintf("%v", *pageRequest.Cursor))
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(levelfour.ErrorCodes),
		}
	}
	next := 1
	if queryParams.Has("page") {
		var err error
		if next, err = strconv.Atoi(queryParams.Get("page")); err != nil {
			return nil, err
		}
	}

	readPageResponse := func(response *levelfour.ProviderBreakdownResponse) *core.PageResponse[*int, *levelfour.ProviderBreakdownItem, *levelfour.ProviderBreakdownResponse] {
		next += 1
		results := response.GetData().GetItems()
		return &core.PageResponse[*int, *levelfour.ProviderBreakdownItem, *levelfour.ProviderBreakdownResponse]{
			Results:  results,
			Response: response,
			Next:     &next,
		}
	}
	pager := internal.NewOffsetPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, &next)
}
